<h3>Add Contact</h3>
<div [hidden]="submitted" style="width: 400px;">
  <div *ngIf="errorCondition" class="alert alert-warning">{{errorMessage}}</div>
  <form [formGroup]="contactForm" novalidate  (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="contactName">Full Name</label>
      <input type="text" class="form-control" id="firstName" 
       formControlName="contactName" 
       [ngClass]="{ 'is-invalid': submitt && contactForm.controls['contactName'].errors }">
        <div *ngIf="contactForm.controls['contactName'].invalid && (contactForm.controls['contactName'].dirty || contactForm.controls['contactName'].touched)" class="alert">
          <div *ngIf="contactForm.controls['contactName'].errors?.required" style="color:red">
           Fulllname is required
        </div>
        <div *ngIf="contactForm.controls['contactName'].errors?.pattern"  style="color:red">
          Name must contain only alphabets
        </div>
        <div *ngIf="contactForm.controls['contactName'].errors?.minlength"  style="color:red">
          Name must be at least 6 characters
        </div>
        <div *ngIf="contactForm.controls['contactName'].errors?.maxlength"  style="color:red">
          Name must not exceed 20 characters
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="name">Email Id</label>
      <input type="email" class="form-control" id="email"  formControlName="contactEmail"  [ngClass]="{ 'is-invalid': submitt && contactForm.controls['contactEmail'].errors }"required>
      <div *ngIf="contactForm.controls['contactEmail'].invalid && (contactForm.controls['contactEmail'].dirty || contactForm.controls['contactEmail'].touched)" class="alert">
        <div *ngIf="contactForm.controls['contactEmail'].errors?.required" style="color:red">
          Email is required
      </div>
      <div *ngIf="contactForm.controls['contactEmail'].errors?.email" style="color:red">
        Email is invalid 
      </div>
    </div>
    </div>

    <div class="form-group">
      <label for="name">Phone Number</label>
      <input type="text" class="form-control" id="phoneNo" pattern="[0-9]+" minlength="10" maxlength="10" formControlName="contactNumber"  [ngClass]="{ 'is-invalid': submitt && contactForm.controls['contactNumber'].errors }" required>
      <div *ngIf="contactForm.controls['contactNumber'].invalid && (contactForm.controls['contactNumber'].dirty || contactForm.controls['contactNumber'].touched)" class="alert">
        <div *ngIf="contactForm.controls['contactNumber'].errors?.required" style="color:red">
          Phonenumber is required
      </div>
      <div *ngIf="contactForm.controls['contactNumber'].errors?.pattern" style="color:red">
        Phonenumber is invalid
      </div>
      <div *ngIf="contactForm.controls['contactNumber'].errors?.minlength"  style="color:red">
        phonenumber should be 10 digits in length
     </div>
    </div>
    </div> 

    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>
